.Rproj.user
.Rhistory
.RData
Meade_4000_Filter.html
Meade 4000 Filter.png
Photopic Vision with Meade 4000 Filter.png
Photopic and Scotopic Vision with Meade 4000 Filter.png
Photopic and Scotopic Vision.png
Scotopic Vision using Meade 4000 Filter.png
